{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">标注图片</h2>

    <div class="layout-container">
        <div class="image-container">
            <img src="{{ image.path.url }}" alt="Image to annotate">
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-grid">
                    {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">提交标注并进入下一张</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .layout-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        width: 500px;
        height: 500px;
        margin-right: 100px;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-container {
        flex: 1;
        width: 80%;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .form-field {
        max-width: 100%;
        overflow: hidden;
    }

    .form-field label {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}
