{% extends 'base_generic.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto">
        <div class="card-header bg-primary text-white">
            <h3 class="text-center">上传新的图片</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="form-group">
                    <div class="custom-file">
                        {{ form.path }}
                        <label class="custom-file-label" for="{{ form.path.id_for_label }}"></label>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block mt-3">上传</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Change the label of file input when a file is chosen
    document.addEventListener("DOMContentLoaded", function() {
        const fileInputs = document.querySelectorAll('.custom-file-input');

        fileInputs.forEach(input => {
            input.addEventListener('change', function() {
                const fileName = this.files[0].name;
                const label = this.nextElementSibling;
                label.innerText = fileName;
            });
        });
    });
</script>
{% endblock %}
